# API KEYS

# Pública
NEXT_PUBLIC_SUPABASE_URL=https://TU_PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxx

# SECRETA
SUPABASE_SERVICE_ROLE_KEY=sb_secret_xxxxxxxx

# Stripe
STRIPE_SECRET_KEY=sk_live_xxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxx

# GitHub
GITHUB_TOKEN=ghp_xxxxxxxx
GITHUB_TEMPLATE_REPO=tu-org/plantilla-estudio
GITHUB_ORG=tu-org
